h1{
    color:black;
    text-align: center;
    color: white;
    margin: 0%;
    width: 100%;
    font-size: 50px;
    font-family: 'Saira Condensed', sans-serif;

}

header{

    color:whitesmoke;
    margin: 0%;
    width: 100%;
}

body{
    background-image: url("photos/slika2.jpg");
    color: whitesmoke;
    font-family: 'Saira Condensed', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 


#test{
   width: 500px;
   height: 100px;
}

img.prva{
float:right;
width: 400px;
height: 400px;
}

blockquote{
    font-family: 'Lobster', cursive;
}

div.donji{
    background-image: url(photos/slika1.jpg);
    color: whitesmoke;
    margin: 0%;
    padding: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

input.sabmit{
    cursor: pointer;
}

#ikone{
    height: 40px;
	width: 40px;
	transition: 0.6s;
}